# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual envs
.venv/
venv/
env/

# OS / editor cruft
.DS_Store
Thumbs.db
.idea/
.vscode/

# Local config & secrets
.env

# Node / frontend
node_modules/
dist/
build/

# Logs
*.log
regulations/
